<div class="div_rules">
    <span class="first_span_rules">General Rules</span>
    <p class="p_rules">- Only Pokémon with 7-letter names appear in all Wordle modes.</p>
    <p class="p_rules">- All Wordle rounds allow a maximum of 6 guesses.</p>
    <p class="p_rules">- Special characters and numbers are not allowed, so Pokémon such as Farfetch'd, Mr. Mime or
        Jangmo-o are excluded.</p>
    <p class="p_rules">- Mega Evolutions, Primal Forms, Gigantamax, Regional Variants, Paradox Pokémon, and special
        forms (e.g., Cosplay Pikachu) are not included.</p>
    <p class="p_end_rules">- There is no time limit in any region. Time constraints only apply during the
        Masters Seven Tournament.</p>
    <hr class="hr_rules">
    <span class="span_rules">Quick<br></span>
    <p class="p_end_rules">- Play as many times as you want, with all regions currently available.</p>
    <hr class="hr_rules">
    <span class="span_rules">Levels</span>
    <p class="p_rules">- Progress through the regions in order, from the first to the last, to qualify for the Masters
        Seven Tournament</p>
    <p class="p_rules">- Each region is unlocked after winning 8 Wordle rounds, representing the 8 Pokémon Gyms.</p>
    <p class="p_rules">- There is no traditional Pokémon League here. Instead, after defeating Paldea, you gain access
        to the — Masters Seven Tournament — a special challenge where you'll face Wordles inspired by the most iconic
        Pokémon trainers. In this mode, hints are disabled, and you’ll have 1 minute per champion to guess one of
        their Pokémon, selected from any Pokémon used by them or by the Elite Four of their respective region in the
        games or anime — including the pre-evolutions of those Pokémon.
    </p>
    <p class="p_rules">- The Orange League is not included.</p>
    <p class="p_rules">- Each region will exclusively include Pokémon native to that region. For example, Pikachu will
        only appear in the Kanto region, and Weavile will only appear in Sinnoh.
    </p>
    <p class="p_rules">- Each gym victory (Wordle round) grants up to 100 points, decreasing by 10 points per failed
        guess and 30 points if a hint is used.</p>
    <p class="p_end_rules">- All regions are replayable, allowing you to farm points and climb the Global Pokémon
        Trainer Leaderboard.</p>
</div>