@if(loading) { <app-loading/> }
@else {
    @if(showTransition) {
        <div class="transition-screen">
            <div class="combat-screen">
                <div class="champion-box">
                    <span class="champion-name">{{ currentChampionName | titlecase}}</span>
                    <img [hidden]="currentChampionName !== 'lance'" src="images/champions/lance.png" alt="lance" class="champion-img"/>
                    <img [hidden]="currentChampionName !== 'iris'" src="images/champions/iris.png" alt="iris" class="champion-img-iris"/>
                    <img [hidden]="currentChampionName !== 'steven'" src="images/champions/steven.png" alt="steven" class="champion-img champion-img-steven"/>
                    <img [hidden]="currentChampionName !== 'diantha'" src="images/champions/diantha.png" alt="diantha" class="champion-img champion-img-diantha"/>
                    <img [hidden]="currentChampionName !== 'cynthia'" src="images/champions/cynthia.png" alt="cynthia" class="champion-img champion-img-cynthia"/>
                    <img [hidden]="currentChampionName !== 'leon'" src="images/champions/leon.png" alt="leon" class="champion-img-leon"/>
                    <img [hidden]="currentChampionName !== 'ash'" src="images/champions/ash.png" alt="ash" class="champion-img champion-img-ash"/>
                </div>
            </div>
        </div>
    } @else {
        @if(showGameOver) {
            <div class="div_game_over">
                <p [class]="gameWon ? 'p_victory' : 'p_defeat'">{{ gameWon ? "Now you are the best, your name will appear in gold on the leaderboard for everyone to see" : "Patethic..." }}</p>
                
                <img [hidden]="!(gameOver && gameWon)" src="images/victory.jpg" alt="pikachu_victory" class="img_victory">
                <img [hidden]="!(gameOver && !gameWon)" [src]="defeatImage" [alt]="defeatImage" class="img_defeat">

                <button (click)="goBack()" class="btn_replay">{{gameWon ? "Pokémon Master" : "Keep Trying"}}</button>
            </div>
        } @else {
            @if(showWordle) {
                <div class="div_main_regional">
                    <div class="div_back">
                        <button class="btn_back" (click)="goBack()">Back</button>
                    </div>

                    <div class="div_header">
                        <h1 class="h1_regional">{{currentChampionName | titlecase}}</h1>
                        <span class="span_timer">Timer: {{timer}}</span>
                    </div>

                    <div class="div_hint_wordle">
                        <button (click)="revealHint()" [disabled]="showHint || gameOver" class="btn_hint_wordle">Hint</button>
                        @if(showHint) {
                            <span class="span_hint_wordle" [appPkmnType]="pokemonType">{{pokemonType | titlecase}}</span>
                        }
                    </div>

                    <div class="div_wordle">
                        @for(a of attemptIndexes; let attemptIndex = $index; track attemptIndex) {
                            <div class="div_row_wordle">
                                @for(l of letterIndexes; let letterIndex = $index; track letterIndex) {
                                    <input type="text" maxlength="1" class="inp_letter_wordle"
                                        [(ngModel)]="attempts[attemptIndex][letterIndex].letter"
                                        (input)="onLetterInput($event, attemptIndex, letterIndex)"
                                        (keydown)="onLetterKeydown($event, attemptIndex, letterIndex)" autocomplete="off" autocapitalize="off"
                                        spellcheck="false" inputmode="text" #letterInput>
                                }
                            </div>
                        }
                        @if(invalidPokemon) {
                            <span class="span_error_wordle">This is not a valid Pokémon</span>
                        }
                    </div>
                </div>
            }
        }
    }
}