/*Combat Animation*/
.transition-screen {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  height: 100vh;
  width: 100vw;
  animation: fadeIn 1s ease;
  overflow: hidden;
}

.combat-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  background: var(--background-combat);
  background: linear-gradient(90deg, rgba(126, 133, 250, 1) 25%, rgba(174, 166, 239, 1) 50%, rgba(129, 139, 252, 1) 75%, rgba(150, 140, 252, 1) 100%);
  border: 5px solid var(--secondary-color);
  border-left: none;
  border-right: none;
  margin: 0 auto;
  animation: fadeIn 1s ease, pulse 0.2s infinite ease-in-out;
}

.champion-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.champion-name {
  font-family: 'PixelCraft Bold', sans-serif;
  font-size: 100px;
  letter-spacing: 2px;
  margin: 0 0 70px 0;
  color: var(--secondary-color);
}

.champion-img {
  width: 400px;
  height: auto;
  margin-bottom: 20px;
}

.champion-img-iris {
  height: 600px;
  margin-bottom: 100px;
}

.champion-img-leon {
  width: 500px;
  height: 650px;
  margin: 0 0 20px 0;
}

/*Results*/
.div_game_over {
  background-color: var(--diploma);
  width: 500px;
  height: 500px;
}

.p_defeat,
.p_victory {
  font-size: 20px;
  color: var(--primary-color);
  letter-spacing: 2px;
  font-family: 'PixelCraft Bold', sans-serif;
  border: 5px dashed var(--primary-color);
  padding: 5px 10px;
  margin: 40px auto 30px auto;
}

.p_victory {
  font-size: 16px;
  border: none;
  padding: 0;
  text-align: center;
}

br {
  display: none;
}

.img_defeat,
.img_victory {
  margin: 0 0 20px 0;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
}

.img_defeat {
  width: 300px !important;
  height: 250px !important;
}

.img_victory {
  width: 200px !important;
  height: 200px !important;
  margin: 0 0 25px 0;
}

/*Wordle*/
.div_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.h1_regional {
  font-size: 70px;
  padding: 0 135px;
  margin: -45px 0 35px 0;
  border-bottom: 10px double var(--primary-color);
  font-family: 'PixelCraft Bold', sans-serif;
}

.span_timer {
  font-family: 'PixelCraft Bold', sans-serif;
  font-size: 20px;
  margin: -35px 0 20px 0;
}


/* Media Queries */
/* Pantallas Menores a 1000px */
@media (max-width: 1000px) {
  .champion-box {
    justify-content: center;
  }

  .champion-name {
    font-size: 60px;
    margin: 0 0 50px 30px;
  }

  .champion-img {
    width: 300px;
    height: 500px;
    margin: 0 0 20px 50px;
  }

  .champion-img-iris {
    width: 350px;
    height: 450px;
    margin: 0 0 80px 50px;
  }

  .champion-img-steven {
    margin: 0 0 20px -80px;
  }

  .champion-img-diantha,
  .champion-img-cynthia {
    width: 250px;
  }

  .champion-img-leon {
    width: 400px;
    height: 500px;
    margin: 0 20px 20px 0;
  }
}

/* Pantallas Menores a 700px */
@media (max-width: 700px) {
  .div_main_regional {
    padding: 10px 0 30px 0;
  }

  .champion-name {
    font-size: 40px;
    margin: 0 0 30px 0;
  }

  .champion-img {
    width: 200px;
    height: 350px;
    margin: 0 0 20px 40px;
  }

  .champion-img-iris,
  .champion-img-leon {
    width: 250px;
    height: 300px;
    margin: 0 0 20px 40px;
  }

  .champion-img-steven {
    margin: 0 0 20px -50px;
  }

  .champion-img-leon {
    margin: 0 0 20px 30px;
  }

  .champion-img-ash {
    margin: 0 0 20px 0;
  }
}

/* Media Queries Wordle */
/* Pantallas Menores a 620px */
@media (max-width: 620px) {
  .h1_regional {
    font-size: 45px;
    margin: -25px 0 35px 0;
  }

  .btn_hint_wordle {
    margin-bottom: 7px;
  }

  .span_timer {
    font-size: 18px;
  }

  .div_game_over {
    width: 350px;
    height: 400px;
  }

  .img_defeat {
    width: 200px !important;
    height: 200px !important;
  }

  .img_victory {
    width: 150px !important;
    height: 150px !important;
    margin: 5px 0 25px 0;
  }

  .p_defeat,
  .p_victory {
    font-size: 18px;
    padding: 5px 10px;
    margin: 40px auto 20px auto;
  }

  .p_victory {
    margin: 20px auto 10px auto;
  }

  .btn_replay {
    font-size: 17px;
    padding: 0 12px 5px 12px;
    margin: 0;
  }
}

/* Pantallas Menores a 520px */
@media (max-width: 520px) {
  .div_main_regional_tournament {
    padding: 10px 0 20px 0;
  }

  .h1_regional {
    font-size: 45px;
    padding: 0 60px;
    margin: -25px 0 35px 0;
  }

  .span_timer {
    font-size: 16px;
  }

  .champion-name {
    font-size: 25px;
    margin: 0 0 10px 0;
  }

  .champion-img {
    width: 150px;
    height: 250px;
    margin: 0 0 10px 30px;
  }

  .champion-img-iris,
  .champion-img-leon {
    width: 200px;
    height: 250px;
    margin: 0 0 10px 20px;
  }

  .champion-img-steven {
    margin: 0 0 20px -30px;
  }
}

/* Pantallas Menores a 460px */
@media (max-width: 460px) {
  .div_game_over {
    width: 250px;
    height: 300px;
  }

  .p_defeat,
  .p_victory {
    font-size: 14px;
    margin: 40px auto 30px auto;
  }

  .p_victory {
    margin: 20px auto 10px auto;
  }

  br {
    display: block;
  }

  .img_victory {
    width: 100px !important;
    height: 100px !important;
    margin: 0 0 20px 0;
  }

  .img_defeat {
    width: 150px !important;
    height: 150px !important;
    margin: -15px 0 15px 0;
  }

  .btn_replay {
    font-size: 14px;
    padding: 0 12px 5px 12px;
  }
}
