<div class="div_main_loading">
    <div class="div_upper_masterball">
        <div class="div_left_side"></div>
        <div class="div_m">M</div>
        <div class="div_right_side"></div>
    </div>
    <div class="div_middle_masterball">
        <div class="div_center_middleball">
            <div class="div_second_center_middleball">
                <div class="div_third_center_middleball"></div>
            </div>
        </div>
    </div>
    <div class="div_lower_masterball"></div>
</div>